---
import type { Props } from '@astrojs/starlight/props';
import Default from '@astrojs/starlight/components/Footer.astro';
import MainmatterLogo from '../assets/Mainmatter.astro';

const isHomepage = Astro.props.slug === '';
---

{
	isHomepage ? (
		<footer>
			<a href="https://mainmatter.com/svelte-consulting/" target="_blank" rel="noopener noreferrer">
				<MainmatterLogo />
			</a>
		</footer>
	) : (
		<Default {...Astro.props}>
			<slot />
		</Default>
	)
}

<style>
	footer {
			text-align: center;
			padding: 100px 0 0 0;
	}

	footer > a {
			display: block;
	}

	footer > a > :global(svg) {
			height: 50px;
			width: auto;
			max-width: 50vw;
      color: var(--sl-color-white);
	}
</style>