---
import '@fontsource/calistoga';
import '@fontsource/pt-sans';

import Example from '../content/docs/Example.svelte';
import Demo from '../components/demo.svelte';
---

<section class="description">
	<h2>Simplify your code</h2>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur quis laoreet tortor. Sed facilisis diam a nibh blandit, ut tempor turpis pretium. Morbi sed turpis eu nisi tincidunt imperdiet in id quam. Maecenas vitae iaculis est, in feugiat enim. Etiam sagittis porta magna, et consequat est ultricies in.
	</p>
</section>

<section class="demo">
	<div>
		<h3>Description</h3>
		<Demo client:load />
	</div>
	<div>
		<h3>Demo</h3>
		<Demo client:load />
	</div>
</section>

<section class="task-modifiers">
	<h2>Task modifiers</h2>
	<p>
		Specify what your task should do if there's another instance already running.
	</p>

	<Example client:load />
</section>

<style>
    :root {
        --sl-color-white: #F9F0E3;
        --sl-color-black: #3C3835;
        --sl-color-text-accent: var(--sl-color-white);
    }
    :root[data-theme='light'] {
        --sl-color-black: #F9F0E3;
        --sl-color-text-accent: var(--sl-color-white);
    }

    :global(body) {
        font-family: "PT Sans", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    :global(h1, h2, h3, h4, h5, h6) {
        font-family: "Calistoga", serif!important;
        font-weight: 400;
        font-style: normal;
    }

    .description {
        margin-bottom: 4rem;
    }

    .demo {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        gap: 2rem;
        margin-bottom: 100px;
    }

    .demo > div {
        margin-top: 0!important;
    }

    .task-modifiers {
        max-width: 600px;
        margin: 0 auto;
    }
</style>