---
import Default from '@astrojs/starlight/components/SiteTitle.astro';
import BuiltBy from '../assets/BuiltBy.astro';
import { is_homepage } from '@utils/is-homepage.ts';

const isHomepage = is_homepage(Astro.locals.starlightRoute.id);
---

{
	isHomepage ? (
		<div class="built-by">
			<BuiltBy />
			<span class="sr-only">built by Mainmatter</span>
		</div>
	) : (
		<Default />
	)
}

<style>
	.built-by > :global(svg) {
			height: 2.5rem;
			width: auto;
			display: block;
	}
</style>