/* Dark mode colors. */
:root {
	--sheepdog-primary: #6200EE;

	--sl-color-accent-low: #262320;
	--sl-color-accent: #70685d;
	--sl-color-accent-high: #cbc8c4;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #efedec;
	--sl-color-gray-2: #c4c1bf;
	--sl-color-gray-3: #8f8a87;
	--sl-color-gray-4: #5b5754;
	--sl-color-gray-5: #3b3734;
	--sl-color-gray-6: #2a2623;
	--sl-color-black: #1a1816;
	--color-running: #6200ee;
	--color-finished: #00b279;
	--color-waiting: #ff8800;
	--color-canceled: #ff1500;
	--color-dropped: #727272;
}

/* Light mode colors. */
:root[data-theme='light'] {
	--sheepdog-primary: #6200EE;

	--sl-color-accent-low: #d9d6d3;
	--sl-color-accent: #726a5f;
	--sl-color-accent-high: #35322d;
	--sl-color-white: #1a1816;
	--sl-color-gray-1: #2a2623;
	--sl-color-gray-2: #3b3734;
	--sl-color-gray-3: #5b5754;
	--sl-color-gray-4: #8f8a87;
	--sl-color-gray-5: #c4c1bf;
	--sl-color-gray-6: #efedec;
	--sl-color-gray-7: #f7f6f5;
	--sl-color-black: #ffffff;
}

[data-has-hero] {
	& header {
		background-color: transparent;
		border-bottom: 1px solid rgb(255 255 255 / 0.1);
		backdrop-filter: blur(5px);
	}
}

.expressive-code {
	tab-size: 4;
}
